@*@{
    ViewBag.Title = "Advanced";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Advanced</h2>*@
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_b overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Advanced</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<div class="container">
    <div class="row mb-5 ">
        <div class="col-md-7 section-title text-center mx-auto">
            <h2 style="margin-top:40px;">You have understood the entire process of composting. Now we will introduce the problems that may be encountered when composting.</h2>
        </div>
    </div>
    <hr />
    <div class="row mb-5">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <img src="~/img/Tip/insect.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 h-100 jm-sticky-top">
            <h3>What are the potential problems with composting?</h3>
            <p class="mb-4" style="color:black;">
                <strong>Smell</strong>. Before people started composting, they concerned it would be a smelly, fly-attracting affair. But that was never really a problem. If your pile starts to stink, just give it a quick turn and add some grass clippings or leaves if available.<br />
                <strong>Insects</strong>. If you have a large lawn, you can keep a separate pile of grass clippings and toss in a handful or two over the top of any kitchen scraps that are attracting bugs. Wash out your pail when it gets icky (about every other day).
            </p>
            @*<p class="mb-4"><a href="#" class="readmore">Visit website</a></p>*@
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
            <img src="~/img/Explore/contact.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 h-100 jm-sticky-top mr-auto order-2 order-lg-1">
            @*<h3>What is a composting tumbler?</h3>*@
            <p class="mb-4" style="color:black;">
                <strong>Not Enough Space</strong>. Composting only requires 9 square feet of space, or less if you choose a smaller space-saving bin. And since it’s just about the easiest garden task you can undertake, it’s an excellent use of your yard space.<br />
                <strong>Animals</strong>. Depending on where you live, raccoons or rodents may be attracted to your pile. We haven’t had problems, but if you anticipate them, you can either get an animal-resistant bin or turn your pile more regularly (a hot pile isn’t as attractive to animals).<br />
                <strong>Messy</strong>. Some people think composting is messy, but it’s really no worse than taking out the trash. Plus, you don’t have that food rotting in the trash can waiting for trash day.
            </p>
            @*<p class="mb-4"><a href="#" class="readmore">Visit website</a></p>*@
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <img src="~/img/Tip/time.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 h-100 jm-sticky-top">
            <h3>How long does it take to compost?</h3>
            <p class="mb-4" style="color:black;">
                Different organic materials take different lengths of time to transform into compost. Food scraps are quicker than twigs or sticks. Paper from coffee filters or tea bags take longer than organic materials. The bottom of the pile or bin will transform first, so this is why it is important to turn the pile monthly.
            </p>
            @*<p class="mb-4"><a href="#" class="readmore">Visit website</a></p>*@
        </div>
    </div>
    <div class="row">
        <div align="left" style="width:50%;"><a href="~/Results/Intermediate" class="btn btn-success" style="font-size:20px; background-color:#12b322; border-color:#12b322;">< Intermediate</a></div>
        <div align="right" style="width:50%;"><a href="~/Results/Expert" class="btn btn-success" style="font-size:20px; background-color:#12b322; border-color:#12b322;">Expert ></a></div>
        <div align="left" style="margin-top:15px;"><a href="~/Results/Level" class="btn btn-success" style="font-size:20px; background-color:#12b322; border-color:#12b322;">< Levels</a></div>
    </div>
</div>