@*@{
        ViewBag.Title = "Fundamental";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Fundamental</h2>*@
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_2 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Fundamental</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<div class="container">
    <div class="row mb-5 ">
        <div class="col-md-7 section-title text-center mx-auto">
            <h2 style="margin-top:40px;">As a person without basic knowledge, you need these basic tips</h2>
        </div>
    </div>
    <hr />
    <div class="row mb-5">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <img src="~/img/Tip/pail.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 h-100 jm-sticky-top">
            <h3>What are the basic supplies that I need for composting?</h3>
            <p class="mb-4" style="color:black;">
                You’ll need a pail for the kitchen to collect scraps, a composting bin (if you’re using one, but you don’t need one), or a spot in the yard for a pile.
            </p>
            @*<p class="mb-4"><a href="#" class="readmore">Visit website</a></p>*@
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
            <img src="~/img/Tip/tumbler.png" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 h-100 jm-sticky-top mr-auto order-2 order-lg-1">
            <h3>What is a composting tumbler?</h3>
            <p class="mb-4" style="color:black;">A composting tumbler is a handy bin with a handle that you can turn by cranking the handle around. They are usually purchased from a garden supply shop. These are especially helpful for people with limited space, and they tend not to smell or attract insects.</p>
            @*<p class="mb-4"><a href="#" class="readmore">Visit website</a></p>*@
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <img src="~/img/Tip/backyard.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 h-100 jm-sticky-top">
            <h3>How do I start composting?</h3>
            <p class="mb-4" style="color:black;">
                Getting started composting is SUPER easy. Once you’ve got your basic supplies, you’re ready to start.<br />
                1. Pick a spot for your pail. You can keep them under your kitchen sink.<br />
                2. Tell your family the plan. You might want to leave the pail out for a couple of weeks to help everyone remember not to throw away those apple cores and banana peels. After a while, it will become second nature for everyone.<br />
                3. Pick a spot for your pile or composting bin. You want it to be close enough to the house that it’s not a big deal to carry the pail out every day. It can be right next to your vegetable garden.
            </p>
            @*<p class="mb-4"><a href="#" class="readmore">Visit website</a></p>*@
        </div>
    </div>
    <div align="right"><a href="#" class="btn-link" style="font-size:20px; color:#12B322;">Go Back</a></div>
</div>