@*@{
    ViewBag.Title = "Intermediate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Intermediate</h2>*@
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_b overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Intermediate</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<div class="container">
    <div class="row mb-5 ">
        <div class="col-md-7 section-title text-center mx-auto">
            <h2 style="margin-top:40px;">You already have intermediate knowledge of composting. After the previous preparations are completed, we will introduce the method of composting.</h2>
        </div>
    </div>
    <hr />
    <div class="row mb-5">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <img src="~/img/background/BG3.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 h-100 jm-sticky-top">
            <h3>What is the method for composting?</h3>
            <p class="mb-4" style="color:black;">
                1. Start collecting compostable material and add it to your pile.<br />
                2. Empty your pail into the pile (or bin) daily. It’s the perfect chore for the kiddos!<br />
                3. Turn your compost pile. Every month or so, grab your pitchfork or a shovel and mix your pile up a bit. This helps speed up the decomposition process, heats up your pile, and keeps away any unwanted pests. <strong>Note</strong>: If you are using a bin, you’ll just turn it inside the bin.               
            </p>
            @*<p class="mb-4"><a href="#" class="readmore">Visit website</a></p>*@
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
            <img src="~/img/Tip/harvest.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 h-100 jm-sticky-top mr-auto order-2 order-lg-1">
            @*<h3>What is a composting tumbler?</h3>*@
            <p class="mb-4" style="color:black;">
                4. Harvest your finished compost. Over time, the material at the bottom of your pile (or bin) will start to look like the nicest, richest soil you’ve ever seen. When you don’t see any more recognizable scraps, the compost is ready to be used.<br />
                5. Harvest your compost from the bottom of your pile (or bin) once or twice a year. Whatever isn’t yet ready just goes back into the pile to continue breaking down.<br />
                6. Spread your finished compost on your garden beds or use it in container gardens.<br />
                <strong>Note</strong>: You probably don’t want to bring your fresh compost into the house since it should be home to many, many little critters.
            </p>
            @*<p class="mb-4"><a href="#" class="readmore">Visit website</a></p>*@
        </div>
    </div>
    <div class="row">
        <div align="left" style="width:50%;"><a href="~/Results/Novice" class="btn btn-success" style="font-size:20px; background-color:#12b322; border-color:#12b322;">< Novice</a></div>
        <div align="right" style="width:50%;"><a href="~/Results/Advanced" class="btn btn-success" style="font-size:20px; background-color:#12b322; border-color:#12b322;">Advanced ></a></div>
        <div align="left" style="margin-top:15px;"><a href="~/Results/Level" class="btn btn-success" style="font-size:20px; background-color:#12b322; border-color:#12b322;">< Levels</a></div>
    </div>
</div>