@*@{
        ViewBag.Title = "Level";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Level</h2>*@
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_2 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Composting</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->

@*<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-8">
            <div class="section_title mb-20 text-center">
                <h3 style="font-size:28px; margin-top:30px;">
                    You can select the level you want to view from the following options.
                </h3>
            </div>
            <div align="left">
                <a href="~/Home/Index" class="btn btn-success" style="font-size:20px; background-color:#12b322; border-color:#12b322;">Return</a>
            </div>
        </div>
    </div>
</div>*@

<div class="service_area" style="padding-top:50px;">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3>Composting Levels</h3>
                    <p style="font-size:24px;">You can select the level you want to view from the following options.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_service">
                    <div class="service_thumb">
                        <a href="~/Results/Fundamental"><img src="~/img/Tip/pail.jpg" alt="" style="height:232px;"></a>
                    </div>
                    <div class="service_content text-center">
                        <a class="d-inline-block" href="~/Results/Fundamental">                           
                            <h3>Fundamental</h3>
                        </a>
                        <p>As a person without basic knowledge, you need some basic tips</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service">
                    <div class="service_thumb">
                        <a href="~/Results/Novice"><img src="~/img/Tip/tip5.jpg" alt="" style="height:232px;"></a>
                    </div>
                    <div class="service_content text-center">
                        <a class="d-inline-block" href="~/Results/Novice">
                            <h3>Novice</h3>
                        </a>
                        <p>As a novice to composting, you already know the basics of composting.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service">
                    <div class="service_thumb">
                        <a href="~/Results/Intermediate"><img src="~/img/background/BG3.jpg" alt="" style="height:232px;"></a>
                    </div>
                    <div class="service_content text-center" style="height:263px;">
                        <a class="d-inline-block" href="~/Results/Intermediate">
                            <h3>Intermediate</h3>
                        </a>
                        <p>You already have intermediate knowledge of composting.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service">
                    <div class="service_thumb">
                        <a href="~/Results/Advanced"><img src="~/img/Tip/time.jpg" alt="" style="height:232px;"></a>
                    </div>
                    <div class="service_content text-center" style="height:263px;">
                        <a class="d-inline-block" href="~/Results/Advanced">
                            <h3>Advanced</h3>
                        </a>
                        <p>You have understood the entire process of composting.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service">
                    <div class="service_thumb">
                        <a href="~/Results/Expert"><img src="~/img/Tip/celebrate.jpg" alt="" style="height:232px;"></a>
                    </div>
                    <div class="service_content text-center" style="height:263px;">
                        <a class="d-inline-block" href="~/Results/Expert">
                            <h3>Expert</h3>
                        </a>
                        <p>You are already a composting expert.</p>
                    </div>
                    </div>
            </div>
        </div>
        <div align="left">
            <a href="~/Results/Intro" class="btn btn-success" style="font-size:20px; background-color:#12b322; border-color:#12b322;">< Return</a>
        </div>
    </div>
</div>