@*@{
    ViewBag.Title = "Novice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Novice</h2>*@
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_b overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Novice</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<div class="container">
    <div class="row mb-5 ">
        <div class="col-md-7 section-title text-center mx-auto">
            <h2 style="margin-top:40px;">As a novice to composting, you already know the basics of composting. Here we will tell you the choice of materials at the beginning.</h2>
        </div>
    </div>
    <hr />
    <div class="row mb-5">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <img src="~/img/Tip/tip5.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 h-100 jm-sticky-top">
            <h3>What can you compost?</h3>
            <p class="mb-4" style="color:black;">
                Kitchen waste – Mainly produce trimmings. Think onion skins, celery roots (if you’re not re-growing them or saving them for chicken stock), apple cores, banana peels, potato peels.<br />
                Coffee grounds.<br />
                Tea bags.<br />
                Grass clippings.<br />
                Dead leaves.<br />
                Straw.<br />
                Sawdust.<br />
                Garden waste.
            </p>
            @*<p class="mb-4"><a href="#" class="readmore">Visit website</a></p>*@
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
            <img src="~/img/Tip/tip6.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 h-100 jm-sticky-top mr-auto order-2 order-lg-1">
            <h3>Don’t compost these things:</h3>
            <p class="mb-4" style="color:black;">
                Meat or bones (use these to make stock instead!).<br />
                Leftovers that aren’t primarily plant material.<br />
                Tougher plant material from your garden like branches or stalks (it takes too long to break down).<br />
                Garden waste that has been treated with pesticides or chemical fertilizer.<br />
                Weed seeds and roots – you might inadvertently spread them to your garden beds.<br />
                Diseased plant material.
            </p>
            @*<p class="mb-4"><a href="#" class="readmore">Visit website</a></p>*@
        </div>
    </div>
    <div class="row">
        <div align="left" style="width:50%;"><a href="~/Results/Fundamental" class="btn btn-success" style="font-size:20px; background-color:#12b322; border-color:#12b322;">< Fundamental</a></div>
        <div align="right" style="width:50%;"><a href="~/Results/Intermediate" class="btn btn-success" style="font-size:20px; background-color:#12b322; border-color:#12b322;">Intermediate ></a></div>
    </div>
</div>
