@model WebApplication1.Models.Tip
@*@{
        ViewBag.Title = "Tip2";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Tip2</h2>*@

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_9 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>TP2</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
