
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
</head>
<body>   
    <div> 
        <centet>
            <img src="~/img/about/error-1349562_1280.png" width="500" height="300" />
            <h1>
                The page you are looking is not available !
            </h1>
            <h2>
                Please go back to the homepage.
            </h2>
            <div style="margin-top:20px;"><a href="~/Home/Index" class="btn btn-link" style="font-size:26px; color:#fb503b;">< Home</a></div>
        </centet>
    </div>
</body>
</html>
