<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>About us</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->

<!-- team_area_start  -->
<div class="team_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-90">
                    <h1>TP30-Starboys30</h1>
                    <img src="~/img/team/team6.jpg">
                    <p>IE Team from Monash University</p>
                    <h1>"Composting and Recycling promise a better Future"</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-3">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/team/team1.png" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Muye Sun</h3>
                        <p>Business Analyst</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/team/team2.png" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Xujie Yuan</h3>
                        <p>Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/team/team3.png" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Xing Xu</h3>
                        <p>Business Analyst</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/team/team4.png" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Jiarui Liu</h3>
                        <p>Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/team/team5.png" alt="">
                    </div>
                    <div class="member_info text-center">
                        <h3>Chiheng Zheng</h3>
                        <p>Data Scienctis</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team_area_end  -->
<p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25187.75768270415!2d145.09155350032427!3d-37.89608239221463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad66a66054c293f%3A0xf0456760532d460!2sChadstone%20-%20The%20Fashion%20Capital!5e0!3m2!1sen!2shk!4v1616555947203!5m2!1sen!2shk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</p>
