@*@{
        ViewBag.Title = "ConstructionDebris";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>ConstructionDebris</h2>*@

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_6 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Construction & demolition debris</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->

<!--================Tips Area start=================-->
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    @*<div class="feature-img">
            <img class="img-fluid" src="~/img/Tip/tip1.jpg" alt="">
        </div>*@
                    <h2>
                        How is construction waste generated?
                    </h2>
                    <div class="quote-wrapper">
                        <div class="quotes">
                            <p>
                                Construction waste or debris is any kind of debris from the construction process.
                                Construction and demolition materials are created during the process of creating a new building or structure or when renovating or demolishing an existing structure. These materials are usually heavy materials used in large volumes in modern construction, such as concrete, steel, wood, asphalt and gypsum.
                                Much building waste is made up of materials such as bricks, concrete and wood damaged or unused during construction.<br />
                                When these waste products are created, they are dealt with by exporting to a landfill, recycling materials for new use, waste incineration, or direct reuse on site, through integration into construction or as fill dirt. In dealing with construction and demolition waste products, it is often hard to recycling and repurposing because of cost of processing. Businesses recycling materials must compete with often the low cost of landfills and new construction commodities.
                            </p>
                        </div>
                    </div>
                    <h2>
                        How to effectively dispose of your construction waste?
                    </h2>
                    <div class="quote-wrapper">
                        <div class="quotes">
                            <p>
                                1. Dispose of brick<br />
                                A suitable and cost-effective way to remove bulk amount of your old bricks is to rent a dumpster. Depending on the size and weight of the dumpster, you can load and offload up to 10 tons of debris. An advantage of renting a roll-off dumpster is that allows you to get rid of old bricks along with other types of debris. The disadvantage is that you have to load up the trash yourself.
                                Find a local junk removal service if there is one nearby. Hiring this service can be an ideal low-cost disposal option, particularly if you are looking at disposing of small amounts of brick. Their services also include loading up your materials in the truck.
                                If you are smart when disposing of your bricks you could be better off hauling them yourself. All you need is to determine how many bricks you have, and a big truck with enough space for your load. This is an excellent low-cost disposal option. Be careful while choosing the vehicle and cost according to your needs.<br />
                                2. Dispose of concrete<br />
                                If you’re lucky, you’ll have access to a pickup truck. If not, then hire one. Be careful while loading; make sure that you do not overload the vehicle because it will make it heavy, which will cause the vehicle to fail or strain the engine severely.
                                You can consider contacting a building materials supply company- one who operate large-scale operations along with a large fleet of a cement mixers or gravel-hauling dump trucks- who may take your old concrete. Some of them do that free of charge, hauling and unloading your concrete at their location.
                                Another good idea to dispose of your old concrete is to put a “free” sign beside your pile of concrete, which may catch the eye of some concrete-needing passerby. Although it sounds unusual, it’s worth a try.<br />
                                3. Asbestos<br />
                                Asbestos is a hazardous material that has adverse health effects and environmental impact. Removing asbestos can be a complicated process, so it’s better to hire a licensed professional to dispose of it.Before taking your asbestos for landfill, you will need to contact the local council to see whether they accept asbestos or not. Also, you will have to fulfil their requirements to access their services for delivering asbestos. Finally, you need to book in advance to dispose of your asbestos.<br />
                                4. Untreated timber and timber products<br />
                                Untreated wood and wood materials (e.g. plywood, medium-density fiberboard (MDF), particleboard, etc.) that are contaminated can be disposed of. Containing dangerous toxic chemicals, they can put risk to human’s health and the environment when they are exposed.
                                If you want to get rid of bulk quantities of untreated timbers entirely, take them to the city landfill. All you need to do is hire a haulier that can carry all of your waste materials and take them to the landfill centre.
                            </p>
                        </div>
                    </div>
                    <br />
                    <a href="#" class="d-flex">< Back to top</a>
                    <br />
                    <a href="~/Home/Waste" class="d-flex">< Back to waste list</a>
                </div>


                <!--can use this add 'favorite' and 'share' function-->
                @*<div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                            <p class="like-info">
                                <span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                                people like this
                            </p>
                            <div class="col-sm-4 text-center my-2 my-sm-0">
                                <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                            </div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                        <div class="navigation-area">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    <div class="thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="~/img/post/preview.png" alt="">
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#">
                                            <span class="lnr text-white ti-arrow-left"></span>
                                        </a>
                                    </div>
                                    <div class="detials">
                                        <p>Prev Post</p>
                                        <a href="#">
                                            <h4>Space The Final Frontier</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="detials">
                                        <p>Next Post</p>
                                        <a href="#">
                                            <h4>Telescopes 101</h4>
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#">
                                            <span class="lnr text-white ti-arrow-right"></span>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="img/post/next.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

                <!--can use this add 'author' function-->
                @*<div class="blog-author">
                        <div class="media align-items-center">
                            <img src="img/blog/author.png" alt="">
                            <div class="media-body">
                                <a href="#">
                                    <h4>Harvard milan</h4>
                                </a>
                                <p>
                                    Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                                    our dominion twon Second divided from
                                </p>
                            </div>
                        </div>
                    </div>*@


                <!--can use this add 'comments' function-->
                @*<div class="comments-area">
                        <h4>05 Comments</h4>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/comment/comment_1.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">Emilly Blunt</a>
                                                </h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/comment/comment_2.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">Emilly Blunt</a>
                                                </h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/comment/comment_3.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">Emilly Blunt</a>
                                                </h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@


                <!--can use this add 'reply' function-->
                @*<div class="comment-form">
                        <h4>Leave a Reply</h4>
                        <form class="form-contact comment_form" action="#" id="commentForm">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                                  placeholder="Write Comment"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                            </div>
                        </form>
                    </div>*@
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <!--search button-->
                    @*<aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">
                                    Search
                                </button>
                            </form>
                        </aside>*@
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="~/Home/LSWaste" class="d-flex">
                                    <p>Liquid or solid household waste</p>
                                </a>
                            </li>
                            <li>
                                <a href="~/Home/MedicalWaste" class="d-flex">
                                    <p>Medical Waste</p>
                                </a>
                            </li>
                            <li>
                                <a href="~/Home/EWaste" class="d-flex">
                                    <p>Electrical Waste</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Construction & demolition debris</p>
                                </a>
                            </li>
                            <li>
                                <a href="~/Home/GreenWaste" class="d-flex">
                                    <p>Green Waste</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Tips Area end=================-->
