@*@{
        ViewBag.Title = "ConstructionDebris";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>ConstructionDebris</h2>*@

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_6 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Construction & demolition debris</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
