@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_1 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Contact us</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<h1>
    Contact details
</h1>
<h2>
    Phone No:
</h2>
<h2>
    Address:
</h2>
<h2>
    Email:
</h2>
@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@