@*@{
        ViewBag.Title = "gameIntro";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>gameIntro</h2>*@
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_e overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Recycle Game</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<div id="overviews" class="section lb">
    <div class="container">
        <div id="recycle" class="section_title mb-40 text-center">
            <h3>
                <br />
                Recycle Game
            </h3>
            <div class="single_testmonial text-center">
                <p>
                    According to the instructions of the Victorian Government.
                    A 4-bin waste and recycling system will be rolled out in partnership with councils.<br />
                    By 2030 most households will receive a 4-bin, colour-coded waste and recycling system.
                    All household waste services across the state will use the same bin lid colours for the same items of waste.<br />
                    We have provided a game to help you familiarize yourself with this system. Below is the introduction of each bins.
                    In the game you have to put different trash into the correct trash can. There are three chances of mistakes.
                </p>
            </div>
        </div>

        <hr class="invis">

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12" style="background-color:#ffd6d2">
                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <i class="flaticon-server global-radius effect-1 alignleft"></i>
                    <img src="~/img/about/general.png" alt="" style="width: 255px; height: 204px;">
                    <h3>General Waste</h3>                   
                    <p style="color:black">
                        Soft plastic<br />
                        General Waste<br />
                        Clothing(unfit for reuse)
                    </p>
                </div><!-- end icon-wrapper -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-6 col-xs-12" style="background-color:#e2efd5">
                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <i class="flaticon-cloud-computing-1 global-radius effect-1 alignleft"></i>
                    <img src="~/img/about/food.png" alt="" style="width: 255px; height: 204px;">
                    <h3>Food & Garden</h3>
                    <p style="color:black">
                        Food scraps<br />
                        Garden clippings
                    </p>
                </div><!-- end icon-wrapper -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-6 col-xs-12" style="background-color:#fff6d7">
                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <i class="flaticon-world-wide-web global-radius effect-1 alignleft"></i>
                    <img src="~/img/about/recycle.png" alt="" style="width: 255px; height: 204px;">
                    <h3>Commingled Recycling</h3>
                    <p style="color:black">
                        Paper<br />
                        Cardboard<br />
                        Hard plastic<br />
                        Metal
                    </p>
                </div><!-- end icon-wrapper -->
            </div><!-- end col -->

            <div class="col-md-3 col-sm-6 col-xs-12" style="background-color:#ebd3eb">
                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <i class="flaticon-world-wide-web global-radius effect-1 alignleft"></i>
                    <img src="~/img/about/glass.png" alt="" style="width: 255px; height: 204px;">
                    <h3>Glass Recycling</h3>
                    <p style="color:black">
                        Glass bottles<br />
                        Glass jars
                    </p>
                </div><!-- end icon-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->
        <hr class="hr3">
        <a href="~/Home/RecycleGame" class="btn btn-primary btn-lg btn-block" style="background-color:#12B322; border-color:#12B322; margin-bottom:12px; margin-top:20px;">Start Game</a>
        <div align="left" style="margin-top:20px;"><a href="~/Home/Waste" class="btn btn-success" style="font-size:20px; background-color:#12b322; border-color:#12b322;">< Recycle</a></div>
        <div align="left" style="margin-top:20px;"><a href="~/Home/Index" class="btn btn-success" style="font-size:20px; background-color:#12b322; border-color:#12b322;">< Home</a></div>
    </div>
</div>
<div align="center" class="container">
    <iframe width="700" height="600" src="https://studio.here.com/viewer/?project_id=c35d0eaf-926c-4aaf-8f8b-9e4d3502465c" frameborder="0"></iframe>
</div>