<!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="slider_text">
                                <h3>
                                    Up to 700,000 tons
                                </h3>
                                <h3>
                                    of the garden organic waste in 2023, Victoria,
                                </h3>
                                <h3>
                                    based on predictions.
                                </h3>
                                <p style="margin-bottom:20px;">Do you want to learn how to deal with green waste and and use them for composting?</p>
                                <a href="~/Results/Tutorial" class="boxed-btn3" style="font-size:20px;">Explore</a>
                                @*<a href="~/add.html" class="boxed-btn3" style="font-size:20px;">Game</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider d-flex align-items-center justify-content-center slider_bg_2 overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="slider_text">
                                <h3>
                                    Nearly 1,000,000 tons
                                </h3>
                                <h3>
                                    of the total waste have been generated in Victoria since 2000
                                </h3>
                                <p style="margin-bottom:20px;">Do you want to know how to correctly classify and dispose of different types of waste?</p>
                                <a href="~/Home/Waste" class="boxed-btn3" style="font-size:20px;">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider d-flex align-items-center justify-content-center slider_bg_3 overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="slider_text">
                                <h3>
                                    50% of the
                                </h3>
                                <h3>
                                    household garbage bin
                                </h3>
                                <h3>
                                    in VIC contains
                                </h3>
                                <h3>
                                    food and green waste.
                                </h3>
                                <p style="margin-bottom:20px;">Do you want to know how to deal with the garbage generated in daily life in the community where you live?</p>
                                <a href="~/Home/LifeScene" class="boxed-btn3" style="font-size:20px;">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- slider_area_end -->
<div class="service_area" style="padding-top:50px; padding-bottom:20px; background:#edf5e9">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3>What you can learn</h3>
                    <p style="font-size:20px;">You can select the level you want to view from the following options.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_service">
                    <div class="service_thumb">
                        <a href="~/Results/Tutorial"><img src="~/img/Tip/harvest.jpg" alt="" style="height:232px;"></a>
                    </div>
                    <div class="service_content text-center">
                        <a class="d-inline-block" href="~/Results/Tutorial">
                            <h3>Composting</h3>
                        </a>
                        <p>As a person without basic knowledge, you need some basic tips</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service">
                    <div class="service_thumb">
                        <a href="~/Home/Waste"><img src="~/img/banner/banner_recycle.jpg" alt="" style="height:232px;"></a>
                    </div>
                    <div class="service_content text-center">
                        <a class="d-inline-block" href="~/Home/Waste">
                            <h3>Recycle</h3>
                        </a>
                        <p>As a novice to composting, you already know the basics of composting.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service">
                    <div class="service_thumb">
                        <a href="~/Home/LifeScene"><img src="~/img/background/waters-3366444_1920.jpg" alt="" style="height:232px;"></a>
                    </div>
                    <div class="service_content text-center" style="height:263px;">
                        <a class="d-inline-block" href="~/Home/LifeScene">
                            <h3>Life Scene</h3>
                        </a>
                        <p>You already have intermediate knowledge of composting.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team_area" style="padding-top:40px; padding-bottom:20px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3>What you can do</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <a href="~/Results/Intro"><img src="~/img/background/math-1500720_1920.jpg" alt="" style="height:232px;"></a>
                    </div>
                    <div class="member_info text-center">
                        <a href="~/Results/Intro">
                            <h3>Self Test</h3>
                        </a>
                        <p>Junior Barber</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <a href="~/Home/gameIntro"><img src="~/img/background/gameBG.jpg" alt="" style="height:232px;"></a>
                    </div>
                    <div class="member_info text-center">
                        <a href="~/Home/gameIntro">
                            <h3>Recycle Game</h3>
                        </a>
                        <p>Junior Barber</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <a href="~/Home/Map"><img src="~/img/background/mapBG.jpg" alt="" style="height:232px;"></a>
                    </div>
                    <div class="member_info text-center">
                        <a href="~/Home/Map">
                            <h3>Map</h3>
                        </a>
                        <p>Junior Barber</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            <!-- issue_area_start -->
            @*<div id="challenge" class="about_area ">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="about_thumbs">
                                    <div class="large_img_1">
                                        <img src="~/img/Explore/explore2_large.png" alt="">
                                    </div>
                                    <div class="small_img_1">
                                        <img src="~/img/Explore/explore1_small.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="about_info">
                                    <div class="section_title mb-20px">
                                        <h3>"Mission Green"</h3>
                                        <p>
                                            <a href="~/Home/LifeScene" class="btn-link" style="color:#12b322; font-size:20px;"><strong>In daily life scenes</strong></a>, there will be many content about composting and recycling. We can use this knowledge to carry out environmental protection. This can be called 'Mission Green'.<br />
                                            If you haven't done the test before, you can use the "Self Test" button in the in 'Services' tag in navigation bar to test your level about composting. Now you can start the "Mission" of Garbage classification.
                                        </p>
                                    </div>
                                    <a href="~/Home/gameIntro" class="boxed-btn3">Mission Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <!-- issue_area_end -->
            <!-- recycle_area_start -->
            @*<div class="testimonial_area">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div id="recycle" class="section_title mb-40 text-center">
                                    <h3>
                                        <br />
                                        <br />
                                        <br />
                                        Recycle
                                    </h3>
                                    <div class="single_testmonial text-center">
                                        <h4>
                                            Illegal waste disposal can make the environment look and feel unsafe, and can be harmful to the community and the environment. It's against the law to illegally dump or dispose of waste.
                                        </h4>
                                        <p>
                                            Correct waste disposal and recycling methods are very important<br />
                                            There are many types of waste that can be recycled.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="testmonial_active owl-carousel">
                                    <div class="single_carousel">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-7 col-md-10">
                                                <div class="single_testmonial text-center">
                                                    <p>This can be called "municipal trash", which is common household trash that we all have. It can be liquid or solid.</p>
                                                    <div class="testmonial_author">
                                                        <div class="thumb" style="
                                                         width: 519px;
                                                         height: 190px;">
                                                            <img src="~/img/Explore/liquid_sm.png" alt="">
                                                        </div>
                                                        <h3>Liquid or solid household waste</h3>
                                                    </div>
                                                    <br />
                                                    <a href="~/Home/LSWaste" class="boxed-btn3">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_carousel">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-7 col-md-10">
                                                <div class="single_testmonial text-center">
                                                    <p>Pharmaceutical waste like that produced by clinics, hospitals etc. may also be found in the home, and should be disposed of responsibly, even if it is not marked hazardous.</p>
                                                    <div class="testmonial_author">
                                                        <div class="thumb" style="
                                                         width: 519px;
                                                         height: 190px;">
                                                            <img src="~/img/Explore/medical_sm.png" alt="">
                                                        </div>
                                                        <h3>Medical/clinical waste</h3>
                                                    </div>
                                                    <br />
                                                    <a href="~/Home/MedicalWaste" class="boxed-btn3">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_carousel">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-7 col-md-10">
                                                <div class="single_testmonial text-center">
                                                    <p>E-waste is generated from electrical devices, including computers, TVs, telephones and so on. These may contain toxic metals like lead, mercury, and brominated flame retardants, which are all harmful to humans and the environment.</p>
                                                    <div class="testmonial_author">
                                                        <div class="thumb" style="
                                                         width: 519px;
                                                         height: 190px;">
                                                            <img src="~/img/Explore/ewaste_sm.png" alt="">
                                                        </div>
                                                        <h3>Electrical waste (E-waste)</h3>
                                                    </div>
                                                    <br />
                                                    <a href="~/Home/EWaste" class="boxed-btn3">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_carousel">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-7 col-md-10">
                                                <div class="single_testmonial text-center">
                                                    <p>This is usually bulky and weighty material, generated during construction and renovation projects. It may include materials such as ceiling tiles, carpeting, wood, concrete, fill dirt, etc.</p>
                                                    <div class="testmonial_author">
                                                        <div class="thumb" style="
                                                         width: 519px;
                                                         height: 190px;">
                                                            <img src="~/img/Explore/cons_sm.png" alt="">
                                                        </div>
                                                        <h3>Construction & demolition debris</h3>
                                                    </div>
                                                    <br />
                                                    <a href="~/Home/ConstructionDebris" class="boxed-btn3">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single_carousel">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-7 col-md-10">
                                                <div class="single_testmonial text-center">
                                                    <p>This is comprised of food and landscaping waste, which will break down naturally under the right conditions. It includes grass, weed clippings, tree limbs and branches, waste from vegetable produce, bread and grains, as well as paper products.</p>
                                                    <div class="testmonial_author">
                                                        <div class="thumb" style="
                                                         width: 519px;
                                                         height: 190px;">
                                                            <img src="~/img/Explore/green_sm.png" alt="">
                                                        </div>
                                                        <h3>Green waste</h3>
                                                    </div>
                                                    <br />
                                                    <a href="~/Home/GreenWaste" class="boxed-btn3">Learn more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <!-- recycle_area_end -->
