<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>                               
                                Learn how to protect 
                                the environment
                            </h3>
                            <p>Participate in the green action, protect the beautiful home.</p>
                            <a href="#" class="boxed-btn3">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_2 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                You can reduce and reuse 
                                your kitchen and garden waste at home                                
                            </h3>
                            <p>Whether you live in a large house or small city apartment.</p>
                            <a href="#" class="boxed-btn3">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_3 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                Compost recycles various organic materials 
                                otherwise regarded as waste products
                            </h3>
                            <p>A good compost is rich in plant nutrients and beneficial organisms.</p>
                            <a href="#" class="boxed-btn3">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->