<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                Do you know what waste issues Victoria is facing?
                            </h3>
                            <p>Do you want to participate in the green action to protect our beautiful home?</p>                           
                            <a href="#challenge" class="boxed-btn3">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_2 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                Do you live in an apartment or a house with a backyard?
                            </h3>
                            <p>There are ways to compost no matter where you live.</p> 
                            <br />
                            <a href="#composting" class="boxed-btn3">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_3 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                Are you a foreign immigrant who just came to settle in Victoria?
                            </h3>
                            <p>Need to know the local recycling policies and methods?</p>
                            <br />
                            <a href="#recycle" class="boxed-btn3">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- issue_area_start -->
<div id="challenge" class="about_area ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_thumbs">
                    <div class="large_img_1">
                        <img src="~/img/Explore/waste_large.png" alt="">
                    </div>
                    <div class="small_img_1">
                        <img src="~/img/Explore/waste_small.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <h3>Waste issues</h3>
                        <p>
                            From 2016 to 2030, the total number of households in Melbourne has doubled. This shows that the population of Victoria is increasing rapidly.<br />
                            According to the Australian Textile and Fashion Industry Council, more than 95% of garments can be recycled and reused. The same situation also occurs in other waste materials. According to garbage data collected every month, many hard wastes are buried in landfills without recycling. Even for many months, the amount recovered is zero.<br />
                            According to professional descriptions, the government wants to promote recycling, but economic pressure is increasing, and the parliament is urging residents to bring waste to recycling centers.
                          </p>
                    </div>
                    <a href="#home_data" class="boxed-btn3">View Data</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- issue_area_end -->
<!-- data_area_start -->
<div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div id="home_data" class="section_title mb-40 text-center">
                    <h3>
                        <br />
                        <br />
                        <br />
                        Open Data
                    </h3>
                    <a href="https://app.powerbi.com/view?r=eyJrIjoiZGNhNzhiYmEtNDJiZC00OWQzLWJjNWYtZmZiZDc0NzIwMjRlIiwidCI6ImIwNzZjZTYwLWNhMmEtNDE4NS05MDQxLTg1MWQxYjdiYzAxYSIsImMiOjEwfQ%3D%3D" target="view_window">Data source from "https://data.melbourne.vic.gov.au/"</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>Since 2000, the total waste generated in Victoria has been increasing year by year. Nearly 1M tons have been added in two decades. And it will continue to increase in the future.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb" style="
                                         width: 519px;
                                         height: 190px;">
                                            <img src="~/img/Charts/chart1.png" alt="">
                                        </div>
                                        <h3>Total Waste Generation</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>From 2000, to the next 20 years. The number of residual waste has experienced a trend of first decreasing and then increasing. But the overall trend is still slightly increasing.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb" style="
                                         width: 519px;
                                         height: 190px;">
                                            <img src="~/img/Charts/chart2.png" alt="">
                                        </div>
                                        <h3>Residual Waste Collected</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>Garden organic waste has a very obvious growth trend between 2000 and 2020. And according to forecasts, it will grow rapidly in the future. Until 2023, it will almost increase to 0.7M tons.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb" style="
                                         width: 519px;
                                         height: 190px;">
                                            <img src="~/img/Charts/chart3.png" alt="">
                                        </div>
                                        <h3>Garden Organic Collected</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>
                                        From 2016 to 2019, the number of various types of households is
                                        increasing. Increased by nearly 20,000.
                                    </p>
                                    <div class="testmonial_author">
                                        <div class="thumb" style="
                                         width: 519px;
                                         height: 190px;">
                                            <img src="~/img/Charts/chart4.jpg" alt="">
                                        </div>
                                        <h3>Households increase</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>
                                        Many hardwastes are buried in the landfill and are not recycled. Even for many months, the amount recycled is zero.
                                    </p>
                                    <div class="testmonial_author">
                                        <div class="thumb" style="
                                         width: 519px;
                                         height: 190px;">
                                            <img src="~/img/Charts/chart5.jpg" alt="">
                                        </div>
                                        <h3>Hardwaste</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row">*@
            @*<div class="col-xl-12">*@
                <div id="home_data" class="section_title mb-40 text-center">
                    <br />
                    <br />
                    <a href="#composting" class="boxed-btn3">Find more about composting ?</a>
                    <br />
                    <br />
                    <a href="#recycle" class="boxed-btn3">Find more about recycle ?</a>
                </div>
            @*</div>*@
        @*</div>*@
    </div>
</div>
<!-- data_area_end -->
@*<div class="col-lg-4 col-md-6">
        <div class="single_service">
            <div class="service_thumb">
                <img src="img/service/2.png" alt="">
                <p>
                    <iframe src="https://app.powerbi.com/view?r=eyJrIjoiZGNhNzhiYmEtNDJiZC00OWQzLWJjNWYtZmZiZDc0NzIwMjRlIiwidCI6ImIwNzZjZTYwLWNhMmEtNDE4NS05MDQxLTg1MWQxYjdiYzAxYSIsImMiOjEwfQ%3D%3D" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </p>
            </div>
            <div class="service_content text-center">
                <div class="icon">
                    <i class="flaticon-barber"></i>
                </div>
                <h3>Garden Organics</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
        </div>
    </div>*@

<!-- composting_situiation_area_start -->
<div id="composting" class="about_area ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_thumbs">
                    <div class="large_img_1">
                        <img src="~/img/Explore/explore2_large.png" alt="">
                    </div>
                    <div class="small_img_1">
                        <img src="~/img/Explore/explore1_small.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <h3>Composting and garden waste</h3>
                        <p>
                            In 2018–19, a total of 2.2 million tonnes of garbage, recyclables and garden organics collected.
                            43% of Victoria’s kerbside waste was diverted from landfill.
                            <br />
                            Composting can reduce waste, reduce reliance on landfills, and reduce greenhouse gas emissions. It also reduces the need for pesticides and synthetic fertilizers. It can also strengthen the soil and promote healthy plant growth, promoting a productive soil ecosystem.
                        </p>
                    </div>
                    <a href="~/Tips/Index" class="boxed-btn3">Want to learn composting tips ?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- composting_situiation_area_end -->

<!-- recycle_area_start -->
<div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div id="recycle" class="section_title mb-40 text-center">
                    <h3>
                        <br />
                        <br />
                        <br />
                        Recycle
                    </h3>
                    <div class="single_testmonial text-center">
                        <h4>
                            Illegal waste disposal can make the environment look and feel unsafe, and can be harmful to the community and the environment. It’s against the law to illegally dump or dispose of waste.
                        </h4>
                        <p>
                            Correct waste disposal and recycling methods are very important<br />
                            There are many types of waste that can be recycled.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>This can be called "municipal trash", which is common household trash that we all have. It can be liquid or solid.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb" style="
                                         width: 519px;
                                         height: 190px;">
                                            <img src="~/img/Explore/liquid_sm.png" alt="">
                                        </div>
                                        <h3>Liquid or solid household waste</h3>
                                    </div>
                                    <br />
                                    <a href="~/Home/LSWaste" class="boxed-btn3">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>Pharmaceutical waste like that produced by clinics, hospitals etc. may also be found in the home, and should be disposed of responsibly, even if it is not marked hazardous.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb" style="
                                         width: 519px;
                                         height: 190px;">
                                            <img src="~/img/Explore/medical_sm.png" alt="">
                                        </div>
                                        <h3>Medical/clinical waste</h3>
                                    </div>
                                    <br />
                                    <a href="~/Home/MedicalWaste" class="boxed-btn3">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>E-waste is generated from electrical devices, including computers, TVs, telephones and so on. These may contain toxic metals like lead, mercury, and brominated flame retardants, which are all harmful to humans and the environment.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb" style="
                                         width: 519px;
                                         height: 190px;">
                                            <img src="~/img/Explore/ewaste_sm.png" alt="">
                                        </div>
                                        <h3>Electrical waste (E-waste)</h3>
                                    </div>
                                    <br />
                                    <a href="#composting" class="boxed-btn3">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>This is usually bulky and weighty material, generated during construction and renovation projects. It may include materials such as ceiling tiles, carpeting, wood, concrete, fill dirt, etc.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb" style="
                                         width: 519px;
                                         height: 190px;">
                                            <img src="~/img/Explore/cons_sm.png" alt="">
                                        </div>
                                        <h3>Construction & demolition debris</h3>
                                    </div>
                                    <br />
                                    <a href="#composting" class="boxed-btn3">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>This is comprised of food and landscaping waste, which will break down naturally under the right conditions. It includes grass, weed clippings, tree limbs and branches, waste from vegetable produce, bread and grains, as well as paper products.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb" style="
                                         width: 519px;
                                         height: 190px;">
                                            <img src="~/img/Explore/green_sm.png" alt="">
                                        </div>
                                        <h3>Green waste</h3>
                                    </div>
                                    <br />
                                    <a href="~/Home/GreenWaste" class="boxed-btn3">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div id="home_data" class="section_title mb-40 text-center">
            <br />
            <br />
            <br />
            <a href="#composting" class="boxed-btn3">Find recycle stations</a>          
        </div>*@
    </div>
</div>
<!-- recycle_area_end -->