<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="slider_text">
                            <h3>
                                50% of the
                            </h3>
                            <h3>
                                household garbage bin
                            </h3>
                            <h3>
                                in VIC contains
                            </h3>
                            <h3>
                                food and green waste.
                            </h3>
                            <p style="margin-bottom:20px;">Do you want to learn how to deal with green waste and participate in green actions to protect the environment?</p>
                            <a href="~/Results/Tutorial" class="boxed-btn3" style="font-size:20px;">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_2 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="slider_text">
                            <h3>
                                Up to 700,000 tons
                            </h3>
                            <h3>
                                of the garden organic waste in 2023, Victoria,
                            </h3>
                            <h3>
                                based on predictions.
                            </h3>
                            <p style="margin-bottom:20px;">Do you want to learn how to deal with green waste and participate in green actions to protect the environment?</p>
                            <a href="~/Results/Tutorial" class="boxed-btn3" style="font-size:20px;">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_3 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <div class="slider_text">
                            <h3>
                                Nearly 1,000,000 tons
                            </h3>
                            <h3>
                                of the total waste have been generated in Victoria since 2000
                            </h3>
                            <p style="margin-bottom:20px;">Do you want to learn how to deal with green waste and participate in green actions to protect the environment?</p>
                            <a href="~/Results/Tutorial" class="boxed-btn3" style="font-size:20px;">Explore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
<!-- new data_area_start -->
@*<div id="data" align="center" style="margin-top:55px; margin-bottom:25px;">
    <div class='tableauPlaceholder' id='viz1618803488333' style='position: relative'>
        <noscript>
            <a href=' '>
                <img alt='Organics Dashboard ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Or&#47;OrganicsDashboard_16184800696650&#47;OrganicsDashboard&#47;1_rss.png' style='border: none'>
            </a>
        </noscript>
        <object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='' />
            <param name='name' value='OrganicsDashboard_16184800696650&#47;OrganicsDashboard' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Or&#47;OrganicsDashboard_16184800696650&#47;OrganicsDashboard&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-GB' />
        </object>
    </div>
</div>
<div align="center" style="padding-bottom: 25px;">
    <br />
    <h4>Protecting the environment requires the participation of everyone.</h4>
    <br />
    <a href="#challenge" class="boxed-btn3">"Mission Green"</a>
</div>*@
<!-- new data_area_end -->
<!-- issue_area_start -->
<div id="challenge" class="about_area ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_thumbs">
                    <div class="large_img_1">
                        <img src="~/img/Explore/explore2_large.png" alt="">
                    </div>
                    <div class="small_img_1">
                        <img src="~/img/Explore/explore1_small.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">                        
                        <h3>"Mission Green"</h3>
                        <p>
                            <a href="~/Home/LifeScene" class="btn-link" style="color:#12b322; font-size:20px;"><strong>In daily life scenes</strong></a>, there will be many content about composting and recycling. We can use this knowledge to carry out environmental protection. This can be called 'Mission Green'.<br />
                            If you haven't done the test before, you can use the "Self Test" button in the navigation bar to test your level at any time to see if you have improved during the "Mission". Now you can enter a common life scene to start the "Mission" of environmental protection.
                        </p>
                    </div>
                    <a href="~/Home/LifeScene" class="boxed-btn3">Mission Start</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- issue_area_end -->
<!-- timetogrow_area_start -->
@*<div class="testimonial_area" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div id="timetogrow" class="section_title mb-40 text-center">
                    <h3>
                        <br />
                        <br />
                        <br />
                        "Time To Grow"
                    </h3>
                    <p>Here we propose a new concept: "Time To Grow".It conbines the definitions of composting and growing, and places them on a horizontally loop dimension. The reusage process by composting facilitates the "grow" in agriculture and agriculture, in return, provides the source of composting.</p>

                    <br />
                    <p>If we move the time from begin to end,then begin again, we may find the whole life of a typical plant, and it is exactly what the recycling works in our urban widerness,which is our definition of "time" in a broad scope. And the "grow" represents the growth of agriculture.</p>

                    <br />
                    <p>Under a narrow scope, the term "time" also means another thing: the impact of the hot and cold composting on timing. Generally, larger piles will reach higher temperatures and remain in a thermophilic stage for days or weeks,which is referred to as hot composting. On the other side, cold composting is a slower process that can take up to a year to complete.</p>
                    <p> As we can see, "time" also makes difference.</p>

                    <br />
                    <p>Under a narrow scope, the term "grow" also means another thing: the growth of children (if you have a family with children).The composting and recycling plays an important role in the early stage of sustainability education. And one can not neglect its benefits in shaping one's personality and virtues.</p>
                    <p> As we can see, "grow" also makes difference.</p>
                    <br />
                    <br />
                    <br />
                    <a href="~/Results/Intro" class="boxed-btn3">"Time to grow"</a>                   
                </div>
                <br />
            </div>
        </div>
    </div>
</div>*@



@*<script type='text/javascript'>
    var divElement = document.getElementById('viz1618803488333');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '1400px';
    vizElement.style.height = '927px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>*@









<!-- composting_situiation_area_start -->
@*<div id="composting" class="about_area ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="about_thumbs">
                        <div class="large_img_1">
                            <img src="~/img/Explore/explore2_large.png" alt="">
                        </div>
                        <div class="small_img_1">
                            <img src="~/img/Explore/explore1_small.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <h3>Composting and garden waste</h3>
                            <p>
                                In 2018-19, a total of 2.2 million tonnes of garbage, recyclables and garden organics collected.
                                43% of Victoria's kerbside waste was diverted from landfill.
                                <br />
                                Composting can reduce waste, reduce reliance on landfills, and reduce greenhouse gas emissions. It also reduces the need for pesticides and synthetic fertilizers. It can also strengthen the soil and promote healthy plant growth, promoting a productive soil ecosystem.
                            </p>
                        </div>
                        <a href="~/Tips/Index" class="boxed-btn3">Want to learn composting tips ?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- composting_situiation_area_end -->
<!-- recycle_area_start -->
@*<div class="testimonial_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div id="recycle" class="section_title mb-40 text-center">
                        <h3>
                            <br />
                            <br />
                            <br />
                            Recycle
                        </h3>
                        <div class="single_testmonial text-center">
                            <h4>
                                Illegal waste disposal can make the environment look and feel unsafe, and can be harmful to the community and the environment. It's against the law to illegally dump or dispose of waste.
                            </h4>
                            <p>
                                Correct waste disposal and recycling methods are very important<br />
                                There are many types of waste that can be recycled.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-10">
                                    <div class="single_testmonial text-center">
                                        <p>This can be called "municipal trash", which is common household trash that we all have. It can be liquid or solid.</p>
                                        <div class="testmonial_author">
                                            <div class="thumb" style="
                                             width: 519px;
                                             height: 190px;">
                                                <img src="~/img/Explore/liquid_sm.png" alt="">
                                            </div>
                                            <h3>Liquid or solid household waste</h3>
                                        </div>
                                        <br />
                                        <a href="~/Home/LSWaste" class="boxed-btn3">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-10">
                                    <div class="single_testmonial text-center">
                                        <p>Pharmaceutical waste like that produced by clinics, hospitals etc. may also be found in the home, and should be disposed of responsibly, even if it is not marked hazardous.</p>
                                        <div class="testmonial_author">
                                            <div class="thumb" style="
                                             width: 519px;
                                             height: 190px;">
                                                <img src="~/img/Explore/medical_sm.png" alt="">
                                            </div>
                                            <h3>Medical/clinical waste</h3>
                                        </div>
                                        <br />
                                        <a href="~/Home/MedicalWaste" class="boxed-btn3">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-10">
                                    <div class="single_testmonial text-center">
                                        <p>E-waste is generated from electrical devices, including computers, TVs, telephones and so on. These may contain toxic metals like lead, mercury, and brominated flame retardants, which are all harmful to humans and the environment.</p>
                                        <div class="testmonial_author">
                                            <div class="thumb" style="
                                             width: 519px;
                                             height: 190px;">
                                                <img src="~/img/Explore/ewaste_sm.png" alt="">
                                            </div>
                                            <h3>Electrical waste (E-waste)</h3>
                                        </div>
                                        <br />
                                        <a href="~/Home/EWaste" class="boxed-btn3">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-10">
                                    <div class="single_testmonial text-center">
                                        <p>This is usually bulky and weighty material, generated during construction and renovation projects. It may include materials such as ceiling tiles, carpeting, wood, concrete, fill dirt, etc.</p>
                                        <div class="testmonial_author">
                                            <div class="thumb" style="
                                             width: 519px;
                                             height: 190px;">
                                                <img src="~/img/Explore/cons_sm.png" alt="">
                                            </div>
                                            <h3>Construction & demolition debris</h3>
                                        </div>
                                        <br />
                                        <a href="~/Home/ConstructionDebris" class="boxed-btn3">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_carousel">
                            <div class="row justify-content-center">
                                <div class="col-lg-7 col-md-10">
                                    <div class="single_testmonial text-center">
                                        <p>This is comprised of food and landscaping waste, which will break down naturally under the right conditions. It includes grass, weed clippings, tree limbs and branches, waste from vegetable produce, bread and grains, as well as paper products.</p>
                                        <div class="testmonial_author">
                                            <div class="thumb" style="
                                             width: 519px;
                                             height: 190px;">
                                                <img src="~/img/Explore/green_sm.png" alt="">
                                            </div>
                                            <h3>Green waste</h3>
                                        </div>
                                        <br />
                                        <a href="~/Home/GreenWaste" class="boxed-btn3">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- recycle_area_end -->
