<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_3 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Liquid or solid household waste</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->

<!--================Tips Area start=================-->
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    @*<div class="feature-img">
            <img class="img-fluid" src="~/img/Tip/tip1.jpg" alt="">
        </div>*@
                    <h2>
                        How much do you know about Household Liquid Waste?
                    </h2>
                    <div class="quote-wrapper">
                        <div class="quotes">
                            <p>
                                Household liquid waste, comes from our home. Most of which comes from all the cooking and cleaning that happens in our home. It is inevitable that we release wastewater. However, despite these liquid waste originating from the house, it is not the same. The difference between them affects how they are collected and disposed.
                                <br />
                                Most households and residential areas have a system that channels household liquid waste to outlets. In most homes, there are septic tanks that serve as a sewage collection point. When the septic tank is full, the homeowner employs a service to perform clean up services.
                            </p>
                        </div>
                    </div>
                    <h2>
                        How Can Liquid Waste Be Removed?
                    </h2>
                    <div class="quote-wrapper">
                        <div class="quotes">
                            <p>
                                Most commonly, liquid waste goes through a municipal sewerage system, or is stored in septic tanks until it can be removed from a property and properly disposed of. This is a job for professionals.<br />
                                Management of liquid waste primarily has its focus on safely getting rid of the waste, leaving no impact on either humans or the environment. It can be disposed of in a variety of ways, however, the following conditions must always be met:<br />
                                The method used should not contaminate surface water or groundwater.<br />
                                The waste should not be accessible to flies.<br />
                                A simple, inexpensive, method should be used to dispose of the excreta and last for at least five years.<br />
                                The method should not leave an odorous smell or be unsightly.
                            </p>
                        </div>
                    </div>
                    <h2>
                        How to deal with solid waste?
                    </h2>
                    <div class="quote-wrapper">
                        <div class="quotes">
                            <p>
                                There are four components to the way to deal with solid waste: recycling, composting, disposal, and waste-to-energy via incineration.<br />
                                The functional element of recycle includes not only the gathering of solid waste and recyclable materials, but also the transport of these materials, after collection, to the location where the collection vehicle is emptied. This location may be a materials processing facility, a transfer station or a landfill disposal site.<br />
                                A modern sanitary landfill is not a dump; it is an engineered facility used for disposing of solid wastes on land without creating nuisances or hazards to public health or safety, such as the problems of insects and the contamination of ground water.<br />
                                Landfills are created by land dumping. Land dumping methods vary, most commonly it involves the mass dumping of waste into a designated area, usually a hole or sidehill. After the waste is dumped, it is then compacted by large machines.<br />
                                Solid waste can be used to generate energy. Several technologies have been developed that make the processing of solid waste for energy generation cleaner and more economical than ever before, including landfill gas capture, combustion, pyrolysis, gasification, and plasma arc gasification.
                            </p>
                        </div>
                    </div>
                    <br />
                    <a href="#" class="d-flex">< Back to top</a>
                    <br />
                    <a href="~/Home/Waste" class="d-flex">< Back to waste list</a>
                </div>


                        <!--can use this add 'favorite' and 'share' function-->
                        @*<div class="navigation-top">
                <div class="d-sm-flex justify-content-between text-center">
                    <p class="like-info">
                        <span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                        people like this
                    </p>
                    <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                    </div>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
                <div class="navigation-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                            <div class="thumb">
                                <a href="#">
                                    <img class="img-fluid" src="~/img/post/preview.png" alt="">
                                </a>
                            </div>
                            <div class="arrow">
                                <a href="#">
                                    <span class="lnr text-white ti-arrow-left"></span>
                                </a>
                            </div>
                            <div class="detials">
                                <p>Prev Post</p>
                                <a href="#">
                                    <h4>Space The Final Frontier</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                            <div class="detials">
                                <p>Next Post</p>
                                <a href="#">
                                    <h4>Telescopes 101</h4>
                                </a>
                            </div>
                            <div class="arrow">
                                <a href="#">
                                    <span class="lnr text-white ti-arrow-right"></span>
                                </a>
                            </div>
                            <div class="thumb">
                                <a href="#">
                                    <img class="img-fluid" src="img/post/next.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

                        <!--can use this add 'author' function-->
                        @*<div class="blog-author">
                <div class="media align-items-center">
                    <img src="img/blog/author.png" alt="">
                    <div class="media-body">
                        <a href="#">
                            <h4>Harvard milan</h4>
                        </a>
                        <p>
                            Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                            our dominion twon Second divided from
                        </p>
                    </div>
                </div>
            </div>*@


                        <!--can use this add 'comments' function-->
                        @*<div class="comments-area">
                <h4>05 Comments</h4>
                <div class="comment-list">
                    <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb">
                                <img src="img/comment/comment_1.png" alt="">
                            </div>
                            <div class="desc">
                                <p class="comment">
                                    Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                    Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <h5>
                                            <a href="#">Emilly Blunt</a>
                                        </h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                    </div>
                                    <div class="reply-btn">
                                        <a href="#" class="btn-reply text-uppercase">reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-list">
                    <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb">
                                <img src="img/comment/comment_2.png" alt="">
                            </div>
                            <div class="desc">
                                <p class="comment">
                                    Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                    Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <h5>
                                            <a href="#">Emilly Blunt</a>
                                        </h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                    </div>
                                    <div class="reply-btn">
                                        <a href="#" class="btn-reply text-uppercase">reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-list">
                    <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb">
                                <img src="img/comment/comment_3.png" alt="">
                            </div>
                            <div class="desc">
                                <p class="comment">
                                    Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                    Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                </p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <h5>
                                            <a href="#">Emilly Blunt</a>
                                        </h5>
                                        <p class="date">December 4, 2017 at 3:12 pm </p>
                                    </div>
                                    <div class="reply-btn">
                                        <a href="#" class="btn-reply text-uppercase">reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@


                        <!--can use this add 'reply' function-->
                        @*<div class="comment-form">
                <h4>Leave a Reply</h4>
                <form class="form-contact comment_form" action="#" id="commentForm">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                          placeholder="Write Comment"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                    </div>
                </form>
            </div>*@
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title">Category</h3>
                                <div class="media post_item">
                                    <a href="~/Home/LSWaste">
                                        <img src="~/img/Explore/LS.jpg" alt="post" style="height: 80px; width: 80px;">
                                    </a>
                                    <div class="media-body">
                                        <a href="~/Home/LSWaste">
                                            <h3>
                                                Liquid or solid household waste
                                            </h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <a href="~/Home/MedicalWaste">
                                        <img src="~/img/Explore/medical.jpg" alt="post" style="height: 80px; width: 80px;">
                                    </a>
                                    <div class="media-body">
                                        <a href="~/Home/MedicalWaste">
                                            <h3>Medical Waste</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <a href="~/Home/EWaste">
                                        <img src="~/img/Explore/ewaste.jpg" alt="post" style="height: 80px; width: 80px;">
                                    </a>
                                    <div class="media-body">
                                        <a href="~/Home/EWaste">
                                            <h3>Electrical Waste</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <a href="~/Home/ConstructionDebris">
                                        <img src="~/img/Explore/construction.jpg" alt="post" style="height: 80px; width: 80px;">
                                    </a>
                                    <div class="media-body">
                                        <a href="~/Home/ConstructionDebris">
                                            <h3>Construction & demolition debris</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <a href="~/Home/GreenWaste">
                                        <img src="~/img/Explore/garden-waste-1047259_1920.jpg" alt="post" style="height: 80px; width: 80px;">
                                    </a>
                                    <div class="media-body">
                                        <a href="~/Home/GreenWaste">
                                            <h3>Green Waste</h3>
                                        </a>
                                    </div>
                                </div>
                            </aside>
                            @*<aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Category</h4>
                                <ul class="list cat-list">
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Liquid or solid household waste</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Home/MedicalWaste" class="d-flex">
                                            <p>Medical Waste</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Home/EWaste" class="d-flex">
                                            <p>Electrical Waste</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Home/ConstructionDebris" class="d-flex">
                                            <p>Construction & demolition debris</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Home/GreenWaste" class="d-flex">
                                            <p>Green Waste</p>
                                        </a>
                                    </li>
                                </ul>
                            </aside>*@
                            <div id="home_data" class="section_title mb-40 text-center">
                                <a href="~/Home/Waste" class="boxed-btn3"><font color="#ffffff">Want to learn about other wastes ?</font></a>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</section>
<!--================Tips Area end=================-->