@*@{
        ViewBag.Title = "Map";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Map</h2>*@
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_f overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Map</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-8">
            <div class="section_title mb-20 text-center">
                <h3 style="margin-top:21px;">
                    Map
                </h3>
                <hr />
                <p style="font-size:18px; margin-bottom:30px;">
                    We developed a map below to focus on helping users find the nearest recycling bin and their bin day.
                    There are 31 points on the map that correspond to 31 councils in Melbourne.
                    To find relevant information, enter your home suburb or Postcode on the right.
                </p>
            </div>
        </div>
    </div>
</div>
<div align="center" style="margin-top:5px; margin-bottom:25px;">
    <div class='tableauPlaceholder' id='viz1620641960926' style='position: relative; width:980px; height:960px;'>
    <noscript>
        <a href=' '>
            <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Bookzzz&#47;Sheet1&#47;1_rss.png' style='border: none' />
            </a>
        </noscript>
    <object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
        <param name='embed_code_version' value='3' /> 
        <param name='site_root' value='' />
        <param name='name' value='Bookzzz&#47;Sheet1' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='yes' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Bo&#47;Bookzzz&#47;Sheet1&#47;1.png' /> 
        <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' /><param name='language' value='en-GB' />
        </object>
    </div>    
    <div align="center" style="width:87%; margin-top:15px;">
        <a href="~/Home/LifeScene" class="btn btn-success" style="font-size: 20px; background-color: #12b322; border-color: #12b322;">< Life Scene</a>
    </div>
    <div align="center" style="width:87%; margin-top:15px;">
        <a href="~/Home/Index" class="btn btn-success" style="font-size: 20px; background-color: #12b322; border-color: #12b322;">< Home</a>
    </div>
</div>

<script type='text/javascript'>
    var divElement = document.getElementById('viz1620641960926');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '85%';
    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>

@*<div align="center" class="container" style="margin-top:20px;">
    <iframe width="800" height="700" src="https://studio.here.com/viewer/?project_id=c35d0eaf-926c-4aaf-8f8b-9e4d3502465c" frameborder="0"></iframe>
    <div align="center" style="width:87%; margin-top:15px;"><a href="~/Home/Index" class="btn btn-success" style="font-size:20px; background-color:#12b322; border-color:#12b322;">< Return</a></div>
</div>*@
