<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_4 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Medical Waste</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->

<!--================Tips Area start=================-->
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    @*<div class="feature-img">
            <img class="img-fluid" src="~/img/Tip/tip1.jpg" alt="">
        </div>*@
                    <h2>
                        Classification of medical waste
                    </h2>
                    <div class="quote-wrapper">
                        <div class="quotes">
                            <p>
                                1. Over-the-counter Drug Waste<br />
                                They are those medications purchased over the counter, the majority of which are bought without a prescription. Most people go for them to alleviate headaches, colds, acid reflux and allergies, among other health conditions.
                                <br />
                                2. Non-hazardous Drug Waste<br />
                                These include non-hazardous or non-controlled prescription medication, such as those used to treat diabetes, bacterial infections, and blood pressure.<br />
                                3. Hazardous Drug Waste<br />
                                This involves any waste that can potentially result in death or serious illness or such waste that poses significant hazards to human health or the environment if improperly stored, disposed of, transported or treated. Such kind of drugs are highly regulated and a provider of such drugs must properly dispose of them.<br />
                                4. Controlled Drug Waste<br />
                                These are those drugs classified to require control as they are highly addictive, can be easily abused or are toxic if accidentally taken in high amounts. The controlled drug substances ought to be disposed of in a manner that meets the laid-upon requirements.<br />
                                5. Veterinary Use Pharmaceuticals<br />
                                These are the drugs and pharmaceuticals given to or sprayed on domestic animals such as dogs, cats, and cattle. In developed nations, these pets and various other animals are cared for in their respective ‘hospitals’ but in other places, they can receive such treatment at home.<br />
                                6. Agricultural Use Pharmaceuticals<br />
                                These are the drugs sprayed on crops for the prevention of dangerous crop viruses, weevils and insects, and other bacteria that would harm crops, either in the field or soon after harvest.
                        </div>
                    </div>
                    <h2>
                        How to deal with medical waste?
                    </h2>
                    <div class="quote-wrapper">
                        <div class="quotes">
                            <p>
                                1. Over-the-counter Drug Waste<br />
                                If placed in the trash, they contaminate landfills and when flushed, they disrupt the sewage treatment process and the microbial ecology of surface water. Leaving them carelessly could also cause injury, especially if misused by children or other illnesses if misused by adults.<br />
                                2. Non-hazardous Drug Waste<br />
                                Despite them being classified as non-hazardous, they still pose a health risk to the environment. In certain jurisdictions, it is against regulations to trash these drugs and instead, they should be sent back to a manufacturer or a medical facility for proper disposal through medical waste incineration.<br />
                                3. Hazardous Drug Waste<br />
                                It is advisable that these kinds of drugs, including prescription, non-controlled, and over-the-counter drugs that are in the hands of consumers, be disposed of in a recommended envelope or collection receptacle.<br />
                                4. Controlled Drug Waste<br />
                                In most cases, they are collected in a satellite container onsite, consolidated, audited, packed and transported before being treated and finally disposed of by a regulated substance disposal company or agency.<br /><br /><br />
                                Do not dispose of pharmaceutical waste with mixed household waste or through the sewage system. The correct and safe way to dispose of pharmaceutical waste is returning it to a pharmacy. Pharmacies accept household pharmaceutical waste without charge. Pharmacies deliver it to a hazardous waste treatment facility, where used for energy recovery.<br />
                                Check the contents of your medicine cabinet regularly and remove expired medication or medication you know will not be used. For privacy, remove any labels containing patient data (such as patient information stickers) from prescription drugs.
                                <br />
                            </p>
                        </div>
                    </div>
                    <br />
                    <a href="#" class="d-flex">< Back to top</a>
                    <br />
                    <a href="~/Home/Waste" class="d-flex">< Back to waste list</a>
                </div>


                <!--can use this add 'favorite' and 'share' function-->
                @*<div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                            <p class="like-info">
                                <span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                                people like this
                            </p>
                            <div class="col-sm-4 text-center my-2 my-sm-0">
                                <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                            </div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                        <div class="navigation-area">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    <div class="thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="~/img/post/preview.png" alt="">
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#">
                                            <span class="lnr text-white ti-arrow-left"></span>
                                        </a>
                                    </div>
                                    <div class="detials">
                                        <p>Prev Post</p>
                                        <a href="#">
                                            <h4>Space The Final Frontier</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="detials">
                                        <p>Next Post</p>
                                        <a href="#">
                                            <h4>Telescopes 101</h4>
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#">
                                            <span class="lnr text-white ti-arrow-right"></span>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="img/post/next.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

                <!--can use this add 'author' function-->
                @*<div class="blog-author">
                        <div class="media align-items-center">
                            <img src="img/blog/author.png" alt="">
                            <div class="media-body">
                                <a href="#">
                                    <h4>Harvard milan</h4>
                                </a>
                                <p>
                                    Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                                    our dominion twon Second divided from
                                </p>
                            </div>
                        </div>
                    </div>*@


                <!--can use this add 'comments' function-->
                @*<div class="comments-area">
                        <h4>05 Comments</h4>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/comment/comment_1.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">Emilly Blunt</a>
                                                </h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/comment/comment_2.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">Emilly Blunt</a>
                                                </h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/comment/comment_3.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">Emilly Blunt</a>
                                                </h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@


                <!--can use this add 'reply' function-->
                @*<div class="comment-form">
                        <h4>Leave a Reply</h4>
                        <form class="form-contact comment_form" action="#" id="commentForm">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                                  placeholder="Write Comment"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                            </div>
                        </form>
                    </div>*@
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <!--search button-->
                    @*<aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">
                                    Search
                                </button>
                            </form>
                        </aside>*@
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="~/Home/LSWaste" class="d-flex">
                                    <p>Liquid or solid household waste</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Medical Waste</p>
                                </a>
                            </li>
                            <li>
                                <a href="~/Home/EWaste" class="d-flex">
                                    <p>Electrical Waste</p>
                                </a>
                            </li>
                            <li>
                                <a href="~/Home/ConstructionDebris" class="d-flex">
                                    <p>Construction & demolition debris</p>
                                </a>
                            </li>
                            <li>
                                <a href="~/Home/GreenWaste" class="d-flex">
                                    <p>Green Waste</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <div id="home_data" class="section_title mb-40 text-center">
                        <a href="~/Home/Waste" class="boxed-btn3"><font color="#ffffff">Want to learn about other wastes ?</font></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Tips Area end=================-->
