<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
@*@{
        ViewBag.Title = "Step";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Step</h2>*@
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_c overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Composting</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<!-- testimonial_area  -->
<div style="padding-top:30px; padding-bottom:30px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <h2>
                                        Step 1
                                    </h2>
                                    <p>You’ll need a pail for the kitchen to collect scraps, a composting bin (if you’re using one, but you don’t need one), or a spot in the yard for a pile.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="~/img/Tip/pail.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <h2>
                                        Step 2
                                    </h2>
                                    <p>Pick a spot for your pile or composting bin. You want it to be close enough to the house that it’s not a big deal to carry the pail out every day. It can be right next to your vegetable garden.</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="~/img/Tip/backyard.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <h2>
                                        Step 3
                                    </h2>
                                    <p>
                                        Start collecting compostable material and add it to your pile.<br />
                                        Empty your pail into the pile (or bin) daily. It’s the perfect chore for the kiddos!
                                    </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="~/img/Tip/tip5.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <h2>
                                        Step 4
                                    </h2>
                                    <p>
                                        Turn your compost pile. Every month or so, grab your pitchfork or a shovel and mix your pile up a bit.
                                        This helps speed up the decomposition process, heats up your pile, and keeps away any unwanted pests.
                                    </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="~/img/Tip/tip2.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <h2>
                                        Step 5
                                    </h2>
                                    <p>
                                        Harvest your finished compost. Over time, the material at the bottom of your pile (or bin) will start to look like the nicest, richest soil you’ve ever seen.
                                        When you don’t see any more recognizable scraps, the compost is ready to be used.
                                    </p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="~/img/Tip/harvest.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="left" style="width:87%; margin-top:15px;"><a href="~/Results/Tutorial" class="btn btn-success" style="font-size:20px; background-color:#12b322; border-color:#12b322;">< Return</a></div>
    </div>
</div>
<!-- /testimonial_area  -->

<style>
    h1, h2, h3 {
        /*font-family: "Yeseva One"*/
        font-family: cursive
    }
</style>