@*@{
        ViewBag.Title = "Tip2";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Tip2</h2>*@

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_9 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Composting</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->

<!--================Home Area start=================-->
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    @*<div class="feature-img">
                            <img class="img-fluid" src="~/img/Tip/tip1.jpg" alt="">
                        </div>*@
                    <div class="blog_details">
                        <h1>
                            Are you new to composting?
                        </h1>
                        @*<ul class="blog-info-link mt-3 mb-4">
                            <li><i class="fa fa-user"></i> New to composting</li>
                            <li><i class="fa fa-comments"></i> Guideline</li>
                        </ul>*@
                        <div class="quote-wrapper">
                            <div class="quotes">
                                For anyone new to composting, or those who simply want to improve their existing compost heaps, we’ve prepared a round-up of top Home and great stuff that will help you get on top of your compost.
                            </div>
                        </div>
                        <h3>1. Buy a decent compost bin</h3>
                        <p class="excert">
                            Please try using a compost bin. They are compact and therefore very suitable for smaller gardens and yards.
                        </p>
                        <h3>2. Pick the perfect spot for your compost heap or bin</h3>
                        <p style="font-size:16px">
                            It’s best to site it on a level, well-drained spot, which will ensure that any excess water drains away easily. This also helps worms to get in and get on with the job of breaking down the content.
                        </p>
                        <h3>3. Let the worms do the hard work</h3>
                        <p>
                            Nature has provided us with the perfect waste disposal unit in the humble worm. They can live their whole lives in the dark and love the moist atmosphere of a wormery or compost heap, eating the waste material you put in and converting it into liquid feed and compost.
                            We post them out from our shop in worm-friendly pouches so they get to your compost heap ready for action.
                        </p>
                        <h3>4. Put the right stuff in</h3>
                        <p>
                            Good things to compost include vegetable peelings, fruit waste, teabags, plant prunings and grass cuttings. These are fast to break down and provide important nitrogen as well as moisture. It’s also good to include things such as cardboard egg boxes, scrunched up paper and fallen leaves. These are slower to rot but provide vital fibre and carbon and also allow important air pockets to form in the mixture. Crushed eggshells can be included to add useful minerals.
                        </p>
                        <h3>5. Don’t put the wrong stuff in</h3>
                        <p>
                            Certain things should never be placed in your bin. No meat or dairy products unless you’ve opted for a digester. No diseased plants, and definitely no dog poo or cat litter, or babies’ nappies. Putting any of these in your compost will lead to unwanted pests and smells. Also avoid composting perennial weeds (such as dandelions and thistle) or weeds with seed heads. Remember that plastics, glass and metals are not suitable for composting and should be recycled separately.
                        </p>
                        <h3>6. Get the balance right</h3>
                        <p>
                            The key to good compost lies in getting the mix right. You need to keep your ‘greens’ and ‘browns’ properly balanced. If your compost is too wet, add more ‘browns’. If it’s too dry, add some ‘greens’. Making sure there is enough air in the mixture is also important. Adding scrunched up bits of cardboard is a simple way to create air pockets that will help keep your compost healthy. Air can also be added by mixing the contents.
                        </p>
                        <h3>7. Give it a good airing</h3>
                        <p>
                            A well-cared-for compost heap requires regular turning, which can be a tricky job without the right tools. Turning your compost helps to aerate and mix up the waste and cuttings, which leads to faster composting.
                        </p>
                        <h3>8. Boost to the system</h3>
                        <p>
                            You can encourage the correct enzymes in your compost by using a compost activator. It helps to turn your grass, leaves and garden waste into dark, rich, crumbly compost in less than half the time. You mix a small amount into water, pour it onto your compost and after 10 weeks of rotting your compost is ready to use. It can also be used to revive partially composted or dead heaps.
                        </p>
                        <h3>9. Turn fallen leaves into compost too</h3>
                        <p>
                            As autumn seems to have come early to many of us you can use fallen leaves as a good source of compost. It’s fine to add these to your compost bin but if you have large amounts of leaves, you might prefer to place them in a large biodegradable leaf bag. Once you’ve gathered up your fallen leaves they can be left to turn into a brilliant source of moisture-rich soil improver that’s great to use for potting mixes as an alternative to peat. The leaves will be kept neatly in one place and the sack will biodegrade, leaving you with a rich pile of wonderful compost.
                        </p>
                        <h3>10. Getting the best out of your compost</h3>
                        <p>
                            When your compost is ready you’ll have a dark brown, almost black soil-like layer at the bottom of your bin. It should have a spongy texture and will be rich in nutrients. Spreading the finished compost into your flowerbeds greatly improves soil quality by helping it retain moisture and suppressing weeds. It also reduces the need to use chemical fertilisers and pesticides.
                        </p>
                        <br />
                        <a href="#" class="d-flex">< Back to top</a>
                        <br />
                        <a href="~/Home/Tip" class="d-flex">< Back to Home list</a>
                    </div>
                </div>


                <!--can use this add 'favorite' and 'share' function-->
                @*<div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                            <p class="like-info">
                                <span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                                people like this
                            </p>
                            <div class="col-sm-4 text-center my-2 my-sm-0">
                                <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                            </div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                        <div class="navigation-area">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    <div class="thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="~/img/post/preview.png" alt="">
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#">
                                            <span class="lnr text-white ti-arrow-left"></span>
                                        </a>
                                    </div>
                                    <div class="detials">
                                        <p>Prev Post</p>
                                        <a href="#">
                                            <h4>Space The Final Frontier</h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="detials">
                                        <p>Next Post</p>
                                        <a href="#">
                                            <h4>Telescopes 101</h4>
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#">
                                            <span class="lnr text-white ti-arrow-right"></span>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="img/post/next.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

                <!--can use this add 'author' function-->
                @*<div class="blog-author">
                        <div class="media align-items-center">
                            <img src="img/blog/author.png" alt="">
                            <div class="media-body">
                                <a href="#">
                                    <h4>Harvard milan</h4>
                                </a>
                                <p>
                                    Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                                    our dominion twon Second divided from
                                </p>
                            </div>
                        </div>
                    </div>*@


                <!--can use this add 'comments' function-->
                @*<div class="comments-area">
                        <h4>05 Comments</h4>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/comment/comment_1.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">Emilly Blunt</a>
                                                </h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/comment/comment_2.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">Emilly Blunt</a>
                                                </h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/comment/comment_3.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">Emilly Blunt</a>
                                                </h5>
                                                <p class="date">December 4, 2017 at 3:12 pm </p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@


                <!--can use this add 'reply' function-->
                @*<div class="comment-form">
                        <h4>Leave a Reply</h4>
                        <form class="form-contact comment_form" action="#" id="commentForm">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                                  placeholder="Write Comment"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                            </div>
                        </form>
                    </div>*@
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <!--search button-->
                    @*<aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Search Keyword'
                                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btn" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">
                                    Search
                                </button>
                            </form>
                        </aside>*@
                    <!--simple category area-->
                    @*<aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>House with backyard</p>
                                    <p>(1)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>New to composting</p>
                                    <p>(1)</p>
                                </a>
                            </li>
                        </ul>
                    </aside>*@
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Category</h3>
                        <div class="media post_item">
                            <a href="~/Home/Tip1">
                                <img src="~/img/Tip/tip1.jpg" alt="post" style="height: 80px; width: 80px;">
                            </a>
                            <div class="media-body">
                                <a href="~/Home/Tip1">
                                    <h3>
                                        Want to turn your kitchen and garden waste into ‘black gold’?
                                    </h3>
                                </a>
                            </div>
                        </div>
                        <div class="media post_item">
                            <a href="~/Home/Tip2">
                                <img src="~/img/Tip/tip2.jpg" alt="post" style="height: 80px; width: 80px;">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    <h3>Are you new to composting?</h3>
                                </a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Home Area end=================-->