@*@{
        ViewBag.Title = "Waste";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Waste</h2>*@

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_1 overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Recycle</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->

<!-- feature_start -->
<div id="overviews" class="section lb">
    <div class="container">
        <div id="recycle" class="section_title mb-40 text-center">
            <h3>
                <br />
                Waste
            </h3>
            <div class="single_testmonial text-center">
                <p>
                    There are many types of waste that can be recycled. Click on the picture or title to learn more!
                </p>
            </div>
        </div>

        <hr class="invis">

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <i class="flaticon-server global-radius effect-1 alignleft"></i>
                    <a href="~/Home/LSWaste">
                        <img src="~/img/Explore/LS.jpg" alt="" style="width: 350px; height: 204px;">
                    </a>
                    <a href="~/Home/LSWaste">
                        <h3>Liquid or solid household waste</h3>
                    </a>
                    <p>
                        This can be called "municipal trash", which is common household trash that we all have. It can be liquid or solid.
                    </p>
                </div><!-- end icon-wrapper -->
            </div><!-- end col -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
                    <i class="flaticon-cloud-computing-1 global-radius effect-1 alignleft"></i>
                    <a href="~/Home/MedicalWaste">
                        <img src="~/img/Explore/medical.jpg" alt="" style="width: 350px; height: 204px;">
                    </a>
                    <a href="~/Home/MedicalWaste">
                        <h3>Medical/clinical waste</h3>
                    </a>
                    <p>
                        Pharmaceutical waste like that produced by clinics, hospitals etc. may also be found in the home, and should be disposed of responsibly, even if it is not marked hazardous.
                    </p>
                </div><!-- end icon-wrapper -->
            </div><!-- end col -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <i class="flaticon-world-wide-web global-radius effect-1 alignleft"></i>
                    <a href="~/Home/EWaste">
                        <img src="~/img/Explore/ewaste.jpg" alt="" style="width: 350px; height: 204px;">
                    </a>
                    <a href="~/Home/EWaste">
                        <h3>Electrical waste (E-waste)</h3>
                    </a>
                    <p>
                        E-waste is generated from electrical devices, including computers, TVs, telephones and so on. These may contain toxic metals like lead, mercury, and brominated flame retardants, which are all harmful to humans and the environment.
                    </p>
                </div><!-- end icon-wrapper -->
            </div><!-- end col -->
        </div><!-- end row -->

        <hr class="hr3">

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <i class="flaticon-cup global-radius effect-1 alignleft"></i>
                    <a href="~/Home/ConstructionDebris">
                        <img src="~/img/Explore/construction.jpg" alt="" style="width: 350px; height: 204px;">
                    </a>
                    <a href="~/Home/ConstructionDebris">
                        <h3>Construction & demolition debris</h3>
                    </a>
                    <p>
                        This is usually bulky and weighty material, generated during construction and renovation projects. It may include materials such as ceiling tiles, carpeting, wood, concrete, fill dirt, etc.
                    </p>
                </div><!-- end icon-wrapper -->
            </div><!-- end col -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="icon-wrapper wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                    <i class="flaticon-cer-file-format global-radius effect-1 alignleft"></i>
                    <a href="~/Home/GreenWaste">
                        <img src="~/img/Explore/garden-waste-1047259_1920.jpg" alt="" style="width: 350px; height: 204px;">
                    </a>
                    <a href="~/Home/GreenWaste">
                        <h3>Green waste</h3>
                    </a>
                    <p>
                        This is comprised of food and landscaping waste, which will break down naturally under the right conditions. It includes grass, weed clippings, tree limbs and branches, waste from vegetable produce, bread and grains, as well as paper products.
                    </p>
                </div><!-- end icon-wrapper -->
            </div><!-- end col -->           
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
<!-- feature_start -->
